body {
    background-color: #F8E7C9;
    font-family: Arial;
    text-align: center;
    margin: 40px;
}

nav {
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

input {
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px auto;
}

.page {
    display: none;
}

.page.active {
    display: block;
}